<div class="product">
	<div class="product-img">
		<img height="200px" src="{{ obj.image.url }}" alt="">
		<div class="product-label">
			<span class="sale">
				5
			</span>
			<span class="new">NEW</span>
		</div>
	</div>
	<div class="product-body">
		<!-- <p class="product-category">Category</p> -->
		<h3 class="product-name"><a href="{{ obj.get_absolute_url }}">{{obj.title}}</a></h3>
		<h4 class="product-price">
			{% if obj.price > 0 %}
			<b style="color:red">{{ obj.price }} đ</b>
			<del class="product-old-price"> </del></h4>
			{% else %}
			<b style="color:red">{{ obj.price }} đ</b>
			<del class="product-old-price">{{ obj.price }}đ</del></h4>
			{% endif %}
		<p class="product-category">Lượt mua: </p>
		<div class="rating-stars" style="color: #ef233c">
			<i class="fa fa-star"></i>
			<i class="fa fa-star-o empty"></i>
		</div>
		<div class="product-btns">
			<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
			<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
			<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
		</div>
	</div>
	<div class="add-to-cart">
		<a href="" class="add-cart"><input type="button" value="add to cart" class="add-to-cart-btn "></a>
	</div>
</div>
