<footer id="footer">
        <!-- top footer -->
        <div class="section">
                <!-- container -->
                <div class="container">
                        <!-- row -->
                        <div class="row">
                                <div class="col-md-3 col-xs-6">
                                        <div class="footer">
                                                <h3 class="footer-title">Thông tin</h3>
                                                <ul class="footer-links">
                                                        <li><a href="#"><i class="fa fa-map-marker"></i>138/58/53 Tân Triều</a></li>
                                                        <li><a href="#"><i class="fa fa-phone"></i>+84353123453</a></li>
                                                        <li><a href="#"><i class="fa fa-envelope-o"></i>ducthanh2402@gmail.com</a></li>
                                                        <li>
                                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                                <a href="#"><i class="fa fa-instagram"></i></a>
                                                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                                        </li>
                                                </ul>
                                        </div>
                                </div>

                                <div class="col-md-3 col-xs-6">
                                        <div class="footer">
                                                <h3 class="footer-title">Mặt hàng</h3>
                                                <ul class="footer-links">
                                                        <li><a href="#">Nike</a></li>
                                                        <li><a href="#">Adidas</a></li>
                                                        <li><a href="#">Converse</a></li>
                                                        <li><a href="#">Balenciaga</a></li>
                                                </ul>
                                        </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                        <div class="footer">
                                                <h3 class="footer-title">Bái viết mới</h3>
                                                <ul class="footer-links">


                                                </ul>
                                        </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                        <div class="footer" >
                                                <h3 class="footer-title">DỊCH VỤ</h3>
                                                <ul class="footer-links">
                                                        <li><a href="#">Tài khoản của tôi</a></li>
                                                        <li><a href="#">Xem giỏ hàng</a></li>
                                                        <li><a href="#">Theo dõi đơn hàng của tôi</a></li>
                                                        <li><a href="#">Trợ giúp</a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                        <!-- /row -->
                </div>
                <!-- /container -->
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->
        <div id="bottom-footer" class="section10">
                <div class="container">
                        <!-- row -->
                        <div class="row">
                                <div class="col-md-12 text-center">
                                        <ul class="footer-payments">
                                                <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                                                <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                                                <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                                                <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                                                <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                                                <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                                        </ul>
                                </div>
                        </div>
                        <!-- /row -->
                </div>
                <!-- /container -->
        </div>
        <!-- /bottom footer -->
</footer>
