{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>LT shop</title>
<link rel="apple-touch-icon" href="{% static 'ecommerce/image/icon.ico' %}">
<link type="text/css" rel="stylesheet" href="{% static 'ecommerce/site/css/ldt_style.css' %} "/>
<link rel="Shortcut Icon" type="image/ico" href="{% static 'ecommerce/image/icon.ico' %}">
<link type="text/css" rel="stylesheet" href="{% static 'ecommerce/site/css/css.css' %} "/>
<link type="text/css" rel="stylesheet" href="{% static 'ecommerce/site/css/bootstrap.min.css' %} "/>
<link type="text/css" rel="stylesheet" href="{% static 'ecommerce/site/css/slick.css' %} "/>
<link type="text/css" rel="stylesheet" href="{% static 'ecommerce/site/css/slick-theme.css' %} "/>
<link type="text/css" rel="stylesheet" href="{% static 'ecommerce/site/css/nouislider.min.css' %} "/>
<link type="text/css" rel="stylesheet" href="{% static 'ecommerce/site/css/font-awesome.min.css' %} "/>
<link type="text/css" rel="stylesheet" href="{% static 'ecommerce/site/css/style.css' %} "/>
