{% load static %}
<script src="{% static 'ecommerce/site/js/jquery.min.js' %}"></script>
<script src="{% static 'ecommerce/site/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ecommerce/site/js/slick.min.js' %}"></script>
<script src="{% static 'ecommerce/site/js/nouislider.min.js' %}"></script>
<script src="{% static 'ecommerce/site/js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'ecommerce/site/js/main.js' %}"></script>
<script src="{% static 'ecommerce/site/js/backtotop.js' %}"></script>
<!-- <script src="{% static 'ecommerce/site/js/ajax.js' %}"></script> -->
