{% load static %}
<nav id="navigation">
        <!-- container -->
        <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                       <ul class="main-nav nav navbar-nav">
                                <li class=""><a href="{% url 'home' %}">Home</a></li>
                                <li class=""><a href="{% url 'produts:list' %}">Products</a></li>
                        </ul>
                </div>
                <!-- /responsive-nav -->
        </div>
        <!-- /container -->
</nav>
